body {
  background: black;
  overflow: hidden; /* Hide scrollbars */
}

footer
{
    background-color: darkorange;
    clear: both;
    font-size: 15pt;
    position:fixed;
    left:0;           /* top left corner should start at leftmost spot */
    bottom:0;            /* top left corner should start at topmost spot */
    width:100vw;      /* take up the full browser width */
    z-index:200;  /* high z index so other content scrolls underneath */
    height:100px;     /* define height for content */
}

footer button
{
    width: 6em;
    color: orange;
    background-color: black;
    border: 1px solid darkorange;
}

header
{
    /*border: 3px solid green;*/
    background-color: darkorange;
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* this causes the header to assume the height of its children*/
}

header h1:first-of-type
{
    float: left;
    width: 70%;
    text-align: left;
    line-height: 1;
    margin: 10px;
    font-size: 20pt;
    font-style: italic;
    font-weight: normal;
}

header h1:last-of-type {
    float: right;
    margin: 2px;
}

header h1 input
{
    background-color: #ff9c08;
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 8px;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

nav
{
    clear:both;
    background: darkorange;
}

nav ul
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 72em;
}

nav ul li
{
    float: left;
    background-color: #ff9c08;
    margin: 0px 0px 0px 0px;
    border-top: 1px solid black;
    border-right: 1px solid rgb(0,0,0);
    border-top-right-radius: 8px;
    border-left: 1px solid black;
    border-top-left-radius: 8px;
}

nav ul li:hover
{
    background-color: #ffbc48;
}

nav ul li:first-child
{
    margin: 0px 0px 0px 0.5em;
}

nav * a
{
    padding: 0.2em;
    line-height: 2.1em;
    text-decoration: none;
    color: #000;
}

.edsmetcbuttons
{
    width: 6em;
    margin: 1px 0px 1px 10px;
    line-height: 1;
    background-color: orange;
    border: 1px solid darkorange;
    color: #000;
    text-decoration: none;
}

::-webkit-scrollbar
{
    width: auto;
}

::-webkit-scrollbar-track
{
    background: darkorange;
}

::-webkit-scrollbar-thumb
{
    background: rgb(80,80,80);
}

::-webkit-scrollbar-thumb:hover
{
    background: rgb(100,100,100);
}

.wrapleft
{
    float:left;
    width:100%;
}

.grid-wrapper {
    clear: both;
    width: 100%;
}

/* clear the contents after wrapper.. works better than clearing on next item */
.grid-wrapper::after
{
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.home-wrapper
{
    clear: both;
    width: 100%;
}

.home-wrapper article
{
    height: calc(100vh - 200px);
    overflow: auto;
    margin-right: 310px;
}

.home-wrapper article table
{
    width: 100%;
    border-collapse:collapse;
}

.home-wrapper article table tr
{
    background-color: #000000;
    color: darkorange;
}

.home-wrapper article table tr td
{
    border: 2px solid darkorange;
}

.home-wrapper article table td:nth-child(1)
{
    width: auto;
}

.home-wrapper article table td:nth-child(2)
{
    width: 20%;
}

.home-wrapper article table td:nth-child(3)
{
    width: 20%;
}

.home-wrapper article table td:nth-child(4)
{
    width: 40%;
}

.home-wrapper article table td:nth-child(5)
{
    width: 20%;
}

.home-wrapper .edsmetcbuttons
{
    width: 6em;
    margin: 1px 0px 1px 10px;
    line-height: 1;
    background-color: orange;
    border: 1px solid darkorange;
    color: #000;
    text-decoration: none;
}

.home-wrapper footer button
{
    width: 6em;
    color: orange;
    background-color: black;
    border: 1px solid darkorange;
}

.home-wrapper body p {
    color: aliceblue;
}

.home-wrapper aside
{
    float: Right;
    width: 300px;
    margin-left: -300px;
}

.home-wrapper aside table
{
    width: 100%;
    border-collapse: collapse;
}

.home-wrapper aside table tr
{
    background-color: #000000;
    color: darkorange;
}

.home-wrapper article table tr td
{
    border: 2px solid darkorange;
}
.home-wrapper aside tr td:first-of-type
{
    width: 40%;
}

.home-wrapper aside tr td:last-of-type
{
    width: 60%;
    font-style: italic;
}

.home-wrapper .tooltip
{
    display: inline;
}

/* Tooltip text - you should position it to your satisfaction */
.home-wrapper .tooltip .tooltiptext
{
    visibility: hidden;
    color: orange;
    background-color: black;
    border: 1px solid orange;
    border-radius: 1px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.home-wrapper .tooltip:hover .tooltiptext
{
    transition-delay: 500ms;
    transition-duration: 2000ms;
    visibility: visible;
}

.grid-wrapper #StatusBox, #ActionBox
{
    background-color: black;
    margin-top: 0.5em;
    width: 100%;
}

.grid-wrapper #ActionBox
{
    border: 2px solid #ffac28;
}

/* the p element can hold the name of the box, move it relative to give a inline label */

.grid-wrapper #ActionBox p
{
    color: black;
    position: relative;
    top: -0.5em;
    margin-left: 0.5em;
    display: inline;
    background-color: #ffac28;
}

.grid-wrapper #StatusBox p
{
    color: darkorange;
    line-height:0.1em;
}

.grid-wrapper #ActionBox td
{
    display: inline; /* td's in action box are inline so flow around the areas */
}
.grid-wrapper #StatusBox td
{
    display: inline; /* td's in action box are inline so flow around the actionbox areas */
}

/* the img element is the button .. style it */

.grid-wrapper #StatusBox img, #ActionBox img
{
    padding: 10px;
    border: 2px solid darkorange;
    border-radius: 8px;
}

.grid-wrapper #StatusBox img
{
    border-radius: 16px;
}

/* class assigned to say selected */

.grid-wrapper .entryselected
{
    background-color: green;
}

.grid-wrapper .tooltip .tooltiptext
{
    margin-left: -140px;
    margin-top: 90px;
    width: 200px;
}

.status-wrapper
{
    clear: both;
    width: 100%;
}

/* clear the contents after wrapper.. works better than clearing on next item */
.status-wrapper::after
{
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

/* this holds the status table */

.status-container article
{
    height: auto;
    overflow: auto;
    margin-right: 310px;
    line-height:1em;
}

.status-container article table
{
    width: 100%;
    border-collapse: collapse;
}

.status-container article table tr
{
    background-color: #000000;
    color: darkorange;
}

/* The aside holds the status indicators */

.status-container aside
{
    float: Right;
    width: 300px;
    margin-left: -300px;
}

/* Common status and action box styling */

.status-container #StatusBox, #ActionBox
{
    margin-top: 0.5em;
    width: 100%;
}

.status-container #ActionBox
{
    border: 2px solid #ffac28;
}

/* the p element can hold the name of the box, move it relative to give a inline label */

.status-container #ActionBox p
{
    color: black;
    position: relative;
    top: -0.5em;
    margin-left: 0.5em;
    display: inline;
    background-color: #ffac28;
}

.status-container #StatusBox p
{
    color: darkorange;
    line-height:0.1em;
}

.status-container #ActionBox td
{
    display: inline; /* td's in action box are inline so flow around the actionbox areas */
}

.status-container #StatusBox td
{
    display: inline;
}

/* the img element is the button .. style it */

.status-container #StatusBox img, #ActionBox img
{
    padding: 10px;
    border: 2px solid darkorange;
    border-radius: 8px;
}

.status-container #StatusBox img
{
    border-radius: 16px;
}

/* class assigned to say selected */

.status-container .entryselected
{
    background-color: green;
}

/* class to theme the status buttons */
.status-container .edsmetcbuttons
{
    width: 6em;
    margin: 1px 0px 1px 10px;
    line-height: 1;
    background-color: orange;
    border: 1px solid darkorange;
    color: #000;
    text-decoration: none;
}

.status-container .tooltip .tooltiptext
{
    margin-left: -120px;
    margin-top: 60px;
    width:200px;
}
/* Style a item div wrapped in tooltip */

.status-container .tooltip
{
    display: inline;
}

/* Tooltip text - you should position it to your satisfaction */
.status-container .tooltip .tooltiptext
{
    visibility: hidden;
    color: orange;
    background-color: black;
    border: 1px solid orange;
    border-radius: 1px;
    text-align: center;
    padding: 5px 0;
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.status-container .tooltip:hover .tooltiptext
{
    transition-delay: 500ms;
    transition-duration: 2000ms;
    visibility: visible;
}